POSTGRES_DB=warehouse
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse_change_me
POSTGRES_ADMIN_PASSWORD=postgres_change_me
REPMGR_PASSWORD=repmgr_change_me

API_WORKERS=2
DB_POOL_SIZE=12
DB_MAX_OVERFLOW=3

DB_CPU_LIMIT=0.35
DB_MEMORY_LIMIT=256M

