POSTGRES_DB=warehouse
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse

DB_NETWORK=warehouse-lab
DB_WRITE_HOSTS=pg-1
DB_READ_HOSTS=pg-1
DB_PORTS=5432
DB_READ_TARGET=prefer-standby

DB_POOL_SIZE=12
DB_MAX_OVERFLOW=3
DB_POOL_TIMEOUT=3
DB_CONNECT_TIMEOUT=2

API_WORKERS=2
API_PORT=8000
APP_NODE=service-1
